
@font-face {
  font-family: Source-Sans-pro;
  src: url(./fonts/SourceSansPro-Bold.otf);
}

@font-face {
  font-family: Source-Sans-pro;
  src: url(./fonts/SourceSansPro-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source-Sans-Pro";
}

header {
  width: 100%;
  height: 155vh;
  background-image: radial-gradient(
      rgba(74, 74, 74, 0.2) 0%,
      rgba(44, 62, 80, 0.7),
      rgba(26, 42, 58, 0.9)
    ),
    url("./img/Bitmap.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5px 3rem 0 3rem;
  filter: grayscale(80%);
  position: absolute;
}

header > nav {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid blue; */
}

nav img {
  width: 100px;
}

nav ul {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
  padding: 1rem;
  /* border: 2px solid rgb(49, 167, 33); */
}

nav ul li {
  list-style: none;
  /* border: 2px solid red; */
  padding: 1rem;
}

nav ul a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

.heading {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: relative;
  top: 200px;
  padding: 5px 3rem 0 3rem;
  gap: 3rem;
}

.heading .heading1 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.heading1 h1 {
  font-size: 120px;
  font-weight: bold;
  color: white;
}

.heading1 .span1 {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 6rem;
  color: white;
}

span {
  font-weight: bold;
  font-size: 16px;
}

.heading1 button {
  background-color: #c271ff;
  border: none;
  outline: none;
  border-radius: 22px;
  width: 162px;
  height: 44px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.pros {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.pros > h2 {
  font-size: 32px;
  font-weight: 500;
}

.pros-design {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn-picture {
  /* border: 2px dotted blue; */
  width: 15%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  color: white;
  gap: 0.5rem;
}

.btn-picture .text {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.btn-picture h3 {
  font-size: 18px;
  font-weight: bold;
}
.btn-picture p {
  font-size: 16px;
  font-weight: 400;
}

.btn-picture img {
  border-radius: 100px;
}

.nan {
  font-size: large;
}

/* for the middle section or the Quote session */
.middle {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  position: relative;
  top: 268px;
  background-color: #c271ff;
  padding: 50px 3rem 50px 150px;
  color: white;
  gap: 6rem;
}
.middle img {
  border-radius: 100px;
}

.quote {
  width: 55%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.quote h3 {
  font-size: 22px;
  font-weight: bold;
}

.popular {
  width: 100%;
  height: auto;
  position: relative;
  top: 269px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 5px 3rem 0 3rem;
}

.popular h2 {
  font-size: 32px;
  font-weight: bold;
}

.container {
  width: 100%;
  height: auto;
  position: absolute;
  top: 209%;
  padding: 5px 3rem 4rem 3rem;
}

.mini-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

.text-popular {
  width: fit-content;
  height: auto;
}

.text-popular h3 {
  font-size: 32px;
  font-weight: bold;
}

.video-tutorials {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.video {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
}

.video img {
  width: fit-content;
  height: auto;
}

.video h3 {
  font-size: 16px;
  font-weight: bold;
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.video p {
  font-size: 14px;
  font-weight: 400;
  color: #071629;
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.view {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.9rem;
}

.image1-only {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.image1-only img {
  width: 30px;
  border-radius: 100px;
}

.image1-only p {
  color: #c271ff;
  font-size: 14px;
  font-weight: bold;
}

.star {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #c271ff;
}

.star .time p {
  color: #c271ff;
}

/* free membrship styles */
.Free {
  width: 100%;
  height: auto;
  position: relative;
  top: 785px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #071629;
  color: white;
  gap: 3rem;
  padding: 5rem 0;
}

.members-group {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding: 0 10rem;
}

.members{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.members img{
  width: 200px;
}

.members h3{
  font-size: 18px;
  font-weight: bold;
}

.members p{
  font-size: 14px;
  font-weight: 400;
}

button{
  border: none;
  outline: none;
  border-radius: 22px;
  color: white;
  background-color: #c271ff;
  width: 162px;
  height: 44px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.faq{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  top: 789px ;
  padding: 3rem 8rem;
  gap: 2rem;
}

.faq-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 8rem ;
}

.left-faq{
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}

.left-faq h3{
  font-size: 16px;
  font-weight: bold;
}

.faq-text{
  font-size: 14px;
  font-weight: 300;
}



.right-faq{
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}

.right-faq h3{
  font-size: 16px;
  font-weight: bold;
}


footer{
  background: #071629;
  padding: 1rem 7rem;
  position: relative;
  top: 800px;
  width: 100%;
  height: auto;
}

.foot{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.second-footer{
  width: 100%;
  height: auto;
  color: white;
  display: flex;
  flex-direction: column ;
  justify-content: start;
  align-items: center;
}

.foot img{
  width: 100px;
}

.icons{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  
}

.icons i{
  width: 100%;
  font-size: 18px;

}
